<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<bean id="propertyConfigurer" 
	        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="locations">
			<list>
				<value>classpath:default.properties</value>
			</list>
		</property>
	</bean>
 	
	<!-- Activates various annotations to be detected in bean classes -->
	<context:annotation-config />
	
	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.
	 For example @Controller and @Service. Make sure to set the correct base-package-->
    <context:component-scan base-package="com.ml.bus"/>
	
	<!-- Configures the annotation-driven Spring MVC Controller programming model.
	Note that, with Spring 3.0, this tag works in Servlet MVC only!  -->
	<mvc:annotation-driven /> 
	<!--
	<bean id="categoryDAO" class="com.ml.bus.dao.CategoryDAO" />
	<bean id="newsDAO" class="com.ml.bus.dao.NewsDAO" />
	<bean id="crawlPatternDAO" class="com.ml.bus.dao.CrawlPatternDAO" />
	<import resource="db-mongo.xml" />
-->
	
	<bean id="categoryDAO" class="com.ml.bus.dao.CategoryMybatisDAO" />
	<bean id="newsDAO" class="com.ml.bus.dao.NewsMybatisDAO" />
	<bean id="crawlPatternDAO" class="com.ml.bus.dao.CrawlPatternMybatisDAO" />
	<import resource="db-mybatis.xml" />
	
	<!-- quartz configuration -->
	<bean name="autoCrawlerJob" 
    		class="org.springframework.scheduling.quartz.JobDetailBean">
       <property name="jobClass">
          <value>com.ml.bus.schedule.CrawlerJob</value>
       </property>
       <property name="applicationContextJobDataKey">
          <value>applicationContext</value>
       </property>       
    </bean>
    
    <bean id="cronAutoCrawler" 
    		class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
          <ref bean="autoCrawlerJob"/>
       </property>
       <property name="cronExpression">
          <value>0/20 * * * * ?</value>
       </property>
    </bean>
    
    <bean name="autoParserJob" 
    		class="org.springframework.scheduling.quartz.JobDetailBean">
       <property name="jobClass">
          <value>com.ml.bus.schedule.ParserJob</value>
       </property>
       <property name="applicationContextJobDataKey">
          <value>applicationContext</value>
       </property>       
    </bean>
    
    <bean id="cronAutoParser" 
    		class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
          <ref bean="autoParserJob"/>
       </property>
       <property name="cronExpression">
          <value>0/40 * * * * ?</value>
       </property>
    </bean>
    
    <bean name="autoAnalyzerJob" 
    		class="org.springframework.scheduling.quartz.JobDetailBean">
       <property name="jobClass">
          <value>com.ml.bus.schedule.AnalyzerJob</value>
       </property>
       <property name="applicationContextJobDataKey">
          <value>applicationContext</value>
       </property>       
    </bean>
    
    <bean id="cronAutoAnalyzer" 
    		class="org.springframework.scheduling.quartz.CronTriggerBean">
       <property name="jobDetail">
          <ref bean="autoAnalyzerJob"/>
       </property>
       <property name="cronExpression">
          <value>0/60 * * * * ?</value>
       </property>
    </bean>
    
    <bean id="schedulerFactory"
    	class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       <property name="triggers">
          <list>
             <ref local="cronAutoCrawler"/>
             <ref local="cronAutoParser"/>
             <ref local="cronAutoAnalyzer"/>
          </list>
       </property>
       <property name="quartzProperties">
	       <props>
	        <prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
	        <prop key="org.quartz.threadPool.threadCount">${quartz.thread.count}</prop>
	        <prop key="org.quartz.threadPool.threadPriority">6</prop>
	        <prop key="org.quartz.threadPool.makeThreadsDaemons">true</prop>
	        <prop key="org.quartz.jobStore.class">org.quartz.simpl.RAMJobStore</prop>
	       </props>
       </property>
    </bean>
	
</beans>  